<h1>Welcome To Historical Oracle!</h1>

<h2> This is a site to view and post miscellaneous historical content from all around the world </h2>
<h2> This is to weave a tapestry of global culture across the multiple facets of this life that we all live. </h2> 





<%= link_to 'Create New Article', new_article_path %>
