<h1>Welcome To Historical Oracle!</h1>

<h4> - This is a place to view and post miscellaneous historical content from all around the world </h2>


<h4> - We do this to weave a tapestry of global culture, across the multiple facets of this life that we all live. </h4> 



<%= form_with url: articles_path, method: :get do |y| %>
    <%=y.text_field :title %>
    <%=y. submit"Search"%>
  <%end%>






  <